.text-area, .text-field, .text-area:focused, .text-field:focused{
    -fx-border-color: #c1c1c1;
    -fx-border-style: solid;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.text-area, .text-area:focused{
    -fx-border-radius: 5 5 0 0 !important;
    -fx-background-radius: 5 5 0 0 !important;
}

.text-field, .text-field:focused{
    -fx-border-radius: 0 0 5 5 !important;
    -fx-background-radius: 0 0 5 5 !important;

}