.root{
    -fx-focus-color: #afafaf !important;
    -fx-faint-focus-color: transparent !important;
}

.button{
    -fx-border-radius: 0 0 0 0 !important;
    -fx-background-radius: 0 0 0 0 !important;
    -fx-start-margin: 0;
}

.tool-bar{
    -fx-background-color: linear-gradient(to top, F4F4F4, ffffff );
    -fx-padding: 0 0 0 0 !important;
    -fx-spacing: -1!important;
}



