{
    "DataFiles": [
        {
            "path": "Source\\Flash2015_Data.json",
            "name": "Flash2015"
        },
        {
            "path": "Source\\FlashOnline_Data.json",
            "name": "FlashOnline"
        },
        {
            "path": "Source\\FlashPegasus_Data.json",
            "name": "FlashPegasus"
        },
        {
            "path": "Source\\FlashPrint_Data.json",
            "name": "FlashPrint"
        },
        {
            "path": "Source\\FlashPyxis_Data.json",
            "name": "FlashPyxis"
        }
    ],
    "Files": [
        {
            "archiveFile": true,
            "name": "Flash2015",
            "Paths": [
                {
                    "path": "C:\\Users\\Elon-Desenv\\Documents\\Workspaces\\WorkspaceFlash\\Flash2015\\build\\bin",
                    "disabled": false,
                    "dest": "Latest"
                },
                {
                    "path": "C:\\Users\\Elon-Desenv\\Documents\\Workspaces\\WorkspaceFlash\\Flash2015\\build\\flash2005.ear",
                    "disabled": false,
                    "dest": "Latest"
                },
                {
                    "path": "C:\\Users\\Elon-Desenv\\Documents\\Workspaces\\WorkspaceFlash\\Flash2015\\build\\flash2005.ear",
                    "disabled": false,
                    "dest": "C:\\Users\\Elon-Desenv\\JBoss\\wildfly-10.1.0.Final\\standalone\\deployments\\flash2005.ear"
                }
            ],
            "lastMod": "2019/10/02 15:19"
        },
        {
            "archiveFile": true,
            "name": "FlashOnline",
            "Paths": [
                {
                    "path": "C:\\Users\\Elon-Desenv\\Documents\\Workspaces\\WorkspaceFlash\\flashonline\\FlashOnline.war",
                    "disabled": false,
                    "dest": "Latest"
                },
                {
                    "path": "C:\\Users\\Elon-Desenv\\Documents\\Workspaces\\WorkspaceFlash\\flashonline\\FlashOnline.war",
                    "disabled": false,
                    "dest": "C:\\Users\\Elon-Desenv\\JBoss\\wildfly-9.0.2.Final\\standalone\\deployments\\FlashOnline.war"
                }
            ],
            "lastMod": "2019/10/02 15:19"
        },
        {
            "archiveFile": true,
            "name": "FlashPegasus",
            "Paths": [
                {
                    "path": "C:\\Users\\Elon-Desenv\\Documents\\Workspaces\\WorkspaceFlash\\VersoesFlash\\FlashPegasus.war",
                    "disabled": false,
                    "dest": "Latest"
                },
                {
                    "path": "C:\\Users\\Elon-Desenv\\Documents\\Workspaces\\WorkspaceFlash\\VersoesFlash\\FlashPegasus.war",
                    "disabled": true,
                    "dest": "C:\\Users\\Elon-Desenv\\JBoss\\wildfly-10.1.0.Final\\standalone\\deployments\\FlashPegasus.war"
                }
            ],
            "lastMod": "2019/10/02 15:19"
        },
        {
            "archiveFile": true,
            "name": "FlashPrint",
            "Paths": [{
                "path": "C:\\Users\\Elon-Desenv\\Documents\\Workspaces\\WorkspaceFlash\\VersoesFlash\\FlashPrint.jar",
                "disabled": false,
                "dest": "Latest"
            }],
            "lastMod": "2019/10/02 15:19"
        },
        {
            "archiveFile": true,
            "name": "FlashPyxis",
            "Paths": [{
                "path": "C:\\Users\\Elon-Desenv\\Documents\\Workspaces\\WorkspaceFlash\\VersoesFlash\\pyxis-sfp-new.jar",
                "disabled": false,
                "dest": "Latest"
            }],
            "lastMod": "2019/10/02 15:19"
        }
    ],
    "Global": {
        "displayTime": false,
        "versionFolder": "C:\\Users\\Elon-Desenv\\IdeaProjects\\FileHelper\\Latest",
        "rootFolder": "C:\\Users\\Elon-Desenv\\IdeaProjects\\FileHelper\\Source",
        "routineTime": 5,
        "archiveFolder": "C:\\Users\\Elon-Desenv\\IdeaProjects\\FileHelper\\Archive",
        "archiveFiles": true
    }
}